@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.study {
    &__container {

        display: flex;
        flex-direction: row;

        &--tutor {
            border: 5px solid $yellow;
            border-radius: 8px;
    
            width: 60%;
            margin-left: 5%;
            margin-top: 2rem;
            margin-bottom: 1rem;
            height: 31rem;
        }

        &--conversation {
            height: 18rem;
            border: 1px solid $light-stone;
            margin: 0rem 1rem 1rem 1rem;
            border-radius: 8px;
            overflow: scroll;
        }
    }

    &__heading {
        margin-left: 1rem;
    }
}

.lesson {

    &__buttons {

        &--div {
            display: flex;
        }

        &--navigate {
            @include cta-primary;
            margin-left: 1rem;

            background-color: $yellow;
            border: none;
            color: $white;
            font-size: 1rem;
            font-weight: 700;
        }

        &--practice {
            @include cta-primary;
            margin-top: 1rem;
            background-color: $yellow;
            border: none;
            color: $white;
            font-size: 1rem;
            font-weight: 700;

            @include tablet {
                width: 60%;
                margin: 1rem 20%;
            }
        }
    }
    
    &__container {

        &--info {
            margin: 1rem;
        }

        &--heading {
            font-size: 1.5rem;
        }

        &--body {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }

    &__title {
        width: 100%;
        font-size: 2rem;
    }

    &__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 3rem 0rem 3rem;
        height: 7rem;

        &--dropdowns {
            display: flex;
        }
    }

    &__img {

        &--stars {
            height: 6rem;
        }
    }
}

.words {

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__container {
        border-radius: 8px;
        border: 5px solid $yellow;
        background-color: $white;
        height: 25rem;
        overflow: scroll;

        &--section {
            border-radius: 8px;
            width: 25%;
            margin-left: 5%;
            margin-bottom: 0;
        }
    }

    &__img {
        &--icon {
            width: 2rem;
            border-radius: 50%;
        }
    }

    &__button {
        &--icon {
                border: none;
                border-radius: 30%;
                background-color: $white;
    
                margin: .25rem;
    
                &:hover {
                    transform: scale(1.1);
                }
        }
    }

    &__word {
        display: flex;
        padding-left: .5rem;
        border-bottom: 1px solid $light-stone;

        &--div {
            margin-left: .5rem;
        }
    }

    &__subheading {
        color: $black;
        font-size: 1.5rem;
        margin-bottom: .25rem;
    }
    &__p {
        color: $yellow;
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: .35rem;
    }
}
