@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.page {
    &__container {

        display: flex;
        flex-direction: row;

        &--tutor {
            border: 5px solid $yellow;
            border-radius: 8px;
    
            width: 60%;
            margin-left: 5%;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        &--conversation {
            display: flex;
            flex-direction: column;
            height: 21rem;
            border: 1px solid $light-stone;
            border-radius: 4px;
            overflow: scroll;
        }

        &--conversation * {
            overflow-anchor: none;
        }
    }

    &__heading {
        margin-left: 1rem;
    }
}

.info {

    &__container {
        border-radius: 8px;
        border: 5px solid $yellow;
        width: 25%;
        margin-left: 5%;
        margin-bottom: 2rem;

        &--buttons {
            display: flex;
            flex-direction: column;
        }

        &--languages {
            padding-top: 1rem;
        }
    }    

    &__heading {
        text-align: center;
        border-bottom: 1px solid $light-stone;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    &__div {

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .5rem;
        }
    }

    &__img {
        &--language {
            width: 2.8125rem;
            border-radius: 50%;
            border: .5px solid $light-stone;
            cursor: pointer;
        }
    }

    &__button {
        width: 100%;
        padding: .5rem;
        border: none;
        border-bottom: 1px solid $light-stone;
        border-radius: 2px;
        text-align: center;
        background-color: $white;
        font-size: 1.25rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            border: 1px solid $black;
        }

        &--top {
            border-top: 1px solid $light-stone;
        }

        &--flag {
            border: none;
            border-radius: 30%;
            background-color: $white;

            margin: .25rem;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.form {

    display: flex;
    flex-direction: row;
    background-color: $yellow;
    padding: 1rem;

    &__textarea {
        width: 100%;
        height: 5rem;
        resize: none;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 1rem;

        &:focus {
            border: 1px solid $black;
        }
    }

    &__hint {
        letter-spacing: .5px;
        line-height: 1.5rem;
        font-size: 1.25rem;
    }

    &__button {

        &--div {
            display: flex;
            justify-content: flex-end;
            width: 30rem;
            cursor: pointer;
        }

        &--submit {
            @include cta-primary;
            background-color: $white;
            border: 1px solid $black;
            color: $black;
            font-size: 1rem;
            font-weight: 700;
            margin-left: 1rem;
            cursor: pointer;

            @include tablet {
                width: 35%;
        
                &:hover {
                    background-color: $white;
                }
            }

        }
    }
}

.conversation {

    &__phrase {
        letter-spacing: .5px;
        line-height: 2rem;
        font-size: 1.25rem;
        margin: 0.5rem 1rem;
    }

    &__button {
        border: none;
        border: 1px solid $light-stone;
        border-radius: 1.25rem;
        cursor: pointer;

        &--ai {
            text-align: left;
            margin: 1rem 25% 1rem 1rem;
        }

        &--user {
            background-color: $white;
            text-align: right;
            margin: 1rem 1rem 1rem 25%;
        }
    }

    &__anchor {
        overflow-anchor: auto;
        height: 1px;
    }
}