@font-face {    
    font-family:'LeagueSpartan';
    src: url(../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf) format('opentype'),
    url(../../assets/fonts/static/LeagueSpartan-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family:'LegueSpartanBold';
    src: url(../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf) format("opentype"), 
    url(../../assets/fonts/static/LeagueSpartan-Bold.ttf) format("truetype");
    font-weight: 700;
}