/********** Colors **********/
/* primary colors */
$black: #323232;
$yellow: #ffde59;
$white: #ffffff;

/* secondary colors */
$dark-yellow: #f0ca33;
$light-stone: #c8c4b3;

/* supporting colors */
$red: #df3e04;
