/********** Colors **********/
/* primary colors */
$black: #323232;
$yellow: #ffde59;
$white: #ffffff;

/* secondary colors */
$dark-yellow: #f8d64f;
$light-stone: rgb(183, 183, 183);
$brazil-green: #009739;
$brazil-blue: #012169;
$brazil-yellow: #FEDD00;

/* supporting colors */
$red: #df3e04;
