.header {

    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__image {
        width: 80%;
    }

    &__nav {
        display: flex;
    }

    &__ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 2rem;
        margin: 0 5.5vw 0 0;
    }

    &__li {
        list-style-type: none;
    }

    &__navlink {
        text-decoration: none;
        color: black;

        &:focus {
            border-bottom: solid #ffde59 2px;
        }
    }

    &__profile-img {
        max-width: 3rem;
        max-height: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 50%;
    }
}