.header {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__image {
        width: 50%;
    }

    &__ul {
        display: flex;
        align-items: end;
        column-gap: 2rem;
        margin: 15rem 5.5vw 0 0;
    }

    &__navlink {
        list-style-type: none;
        text-decoration: none;
        color: black;

        &:focus {
            border-bottom: solid #ffde59 2px;
        }
    }
}